* {
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    display: grid;
    place-items: center;
}

.container {
    border: solid black 3px;
    height: 90%;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1.4fr 6fr;
    resize: both;
    z-index: 10;
}

.sidebar {
    background-color: #1992d4;
    grid-column: 1/2;
    grid-row: 1/8;
    display: grid;
    grid-template-rows: 2fr repeat(5,1fr) 1fr 1fr repeat(3,1fr) 6fr; 
    font-size: 1.25rem;
    color:white;
    z-index: 3;
}

.sidebar > div {
    margin-left: 10px;
    display: grid;
    grid-template-columns: 50px 1fr;
    text-align: left;
    width: max-content;
    border-radius: 2px;
}

.sidebar>:nth-child(n+2) {
    cursor: pointer;
}

.sidebar>:nth-child(n+2):hover {
    filter: brightness(0.85);
}

.sidebar > div > svg {
    margin-left: 10px;
    margin-bottom: 2px;
}

.icon_div {
    display: grid;
    align-items: center;
}

.sidebar > .icon_div > .icon {
    margin: 0;
}
.settings {
    grid-row-start:9;
}
.report {
    grid-row-start:10;
}
.privacy {
    grid-row-start: 11;
}



.header {
    background-color: #ffffff;
    display: grid;
    grid-template-rows: 1fr 1fr;
    box-shadow: 0px 2px 5px 0px gray;   
    z-index: 2;
}

.header_top {
    display: grid;
    grid-template-columns: 6fr 2fr 1fr 2fr 0.8fr;
}

.header_bot {
    /* background-color:lightsalmon; */
    display: grid;
    grid-template-columns: 4fr 3.5fr 3.5fr 0.6fr;
}



input[type="text"] {
    margin-left: 5px;
    border-radius: 0.625rem;
    background-color: #e2e8f0;
    width: 100%;
    height: 1.5em;
}
form {
    display: flex;
    align-items: center;
    width: 100%;
}
.searchbar {
    display: flex;
    align-items: center;
    padding-left: 30px;

}
.bell {
    grid-column-start:3;
    display:grid;
    place-items: center;
}
.bell:hover,
.profile:hover{
    cursor: pointer;
}
.profile {
    grid-column-start: 4;
    display:flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    font-size: 1.1rem;
}

.create {
    grid-column-start: 3;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

button {
    text-align: center;
    background-color: #1992d4;
    width: 5.625rem;
    height: 2.188rem;
    border-radius: 1.25rem;
    box-shadow: none;
    color:white;
    border:none;
}

button:hover{
    cursor: pointer;
}

.welcome {
    display: flex;
    padding-left: 30px;


}
.headertext {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-left: 10px;
}
.toptext{
    font-size: 0.8rem;
    font-weight: bold;
}
.bottomtext {
    font-size: 1.2rem;
    font-weight: bold;
}





.main {
    background-color: #e2e8f0;
    display: grid;
    grid-template-columns: 4fr 2fr;
    grid-template-rows: 50px 1fr 50px 1fr;
    padding-left: 20px;
    padding-bottom: 40px;
}

.projects {
    display: grid;
    grid-column: 1/2;
    grid-row:2/5;
    gap: 20px;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    grid-template-rows: 1fr 1fr;
    /* grid-template-rows: repeat(auto-fit,minmax(100px,1.25fr)); */
    resize: both;
    padding-right: 20px;
    padding-top:10px;

}

.card {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 60fr;
    border-radius: 10px;
    overflow:hidden;
    gap: 5px;
}
.projects > .card > div {
    background-color: coral;
    grid-column: 1/1;
    grid-row: 1/4;
    border-radius: inherit;
    z-index: 2;
    overflow:hidden;
}

.annoucements {
    display: flex;
    flex-direction: column;
    margin-right: 25px;
    border-radius: 10px;
    background-color: white;
}

.annoucements > .card {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.trending {
    margin-right: 25px;
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 20fr;
    grid-template-rows: repeat(4,1fr);
    border-radius: 10px;
    align-items: center;
}
.trending > svg {
    padding-left: 40px;
}
.trending > div {
    padding-left: 10px;
}
.p2 {
    grid-row:1/1;
    grid-column: 2/3;
}

.p3 {
    grid-row:3/3;
    grid-column:2/3;
}

p {
    display: flex;
    align-items: flex-end;
    text-align:left;
    font-size: 1.2rem;
    font-weight: bold;
}

.annoucements,
.trending {
    margin-top:10px;
}

h2 {
    padding-top: 10px;
}

hr {
    width: 80%;
    border: 0.3px solid grey;
    opacity: 0.8;
}